@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

@functions {
    RenderFragment menu = 
        @<li class="nav-item px-3">
            <a class="nav-link" href="http://example.com">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Something Custome
            </a>
        </li>;

    RenderFragment toprow = @<text>Hello from the index.</text>;

    [CascadingParameter] public SectionData Sections { get; private set; }

    protected override void OnAfterRender()
    {
        Sections.SetSection("menu", menu);
        Sections.SetSection("toprow", toprow);
    }
}